{% load static %}
<!DOCTYPE>
<html>
<head>
  <title> About Shinta </title>
  <style>
  body{
      background-image: url("{% static 'pic5.jpg' %}");
      background-attachment: fixed;
      background-position: center;
      height: 100%;
      margin: 0;
    }
    ul{
      text-align: center;
      list-style-type: none;
      padding:0;
      margin-top: 0;
      top: 0;
      background-color: black;
      overflow: hidden;
      font-size: 24px;
      width: 100%;
    }
    li{
      float: left;
      border-right: 1px solid white;
    }
    li a{
      display: block;
      padding:12px;
      text-decoration: none;
      color: lightyellow;
    }
    a:hover {
      background-color: white;
      color :  #DEB887;
    }
    h1{
      font-size: 85px;
      color: #DEB887;
      text-shadow: 3px 4px 3px black;
      text-align: center;
    }
    p{
      font-size: 22px;
      text-align: justify;
      margin-right: 200px;
      margin-left: 200px;
      margin-top: 100px;
    }
  </style>
</head>
<body>
  <ul>
    <li><a href="/"> Home </a></li>
    <li><a href="/aboutme"> About Me</a></li>
    <li><a href="/gallery"> Gallery </a></li>
    <li style="float: right; border-right: none;
    border-left: 1px solid white; text-shadow: 3px 
    2px 3px #DEB887"><a href="/"> Shinta! </a>
    </li>
  </ul>
  <p>
  <h1> Shinta <br> Fauziah </h1>
  <p> Hello my name is Shinta Fauziah. You can call me Shinta.
   I studied in University of Indonesia majored in informatic 
 System. My NPM is 180147180. I was born on 9th of April 2000. 
So, now I'm 19 years old. I live in BDB Street number 82. 
My hobby is writing. I also have blog and sometimes I write
 my experiences there. I love singing too. I like to singing 
RNB songs. I always feel happy if I sing a songs.  </p>
</p>
</body>
</html>


