{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Shinta's Gallery </title>
	<style>
		body{
			background-image: url("{% static 'large.jpg' %}");
			background-attachment: fixed;
			height: 100%;
			width: 100%;
			margin: 0;
		}
		ul{
			text-align: center;
			list-style-type: none;
			padding:0;
			margin-top: 0;
			top: 0;
			background-color: black;
			overflow: hidden;
			font-size: 24px;
			width: 100%;
		}
		li{
			float: left;
			border-right: 1px solid white;
		}
		li a{
			display: block;
			padding:12px;
			text-decoration: none;
			color: lightyellow;
		}
		a:hover {
			background-color: white;
			color :  #DEB887;
		}
		h1{
			text-align: center;
			font-size: 70px;
			color: black;
			margin-bottom: 0;
			background-color: #D2B48C;
		}
		div.gallery {
  			margin-left: 20px;
  			margin-right: 20px;
  			margin-top: 100px;
  			border: 1px solid #ccc;
  			float: left;
  			width: 180px;
		}

		div.gallery:hover {
  			border: 1px solid #777;
  		}

		div.gallery img {
  			width: 100%;
  			height: auto;
		}

	</style>

</head>
<body>
	<ul>
		<li><a href="/"> Home </a></li>
		<li><a href="/aboutme"> About me </a></li>
		<li><a href="/gallery"> Gallery </a></li>
		<li style="float: right; border-right: none;border-left: 
		1px solid white; text-shadow: 3px 2px 3px #DEB887">
		<a href="/"> Shinta! </a></li>
	</ul>
	<h1> My Gallery </h1>
	<div class="gallery">
  		<a target="_blank" href="{% static 'Shinta2.jpg' %}">
    		<img src= "{% static 'Shinta2.jpg' %}" alt="Picture 1" width="1000" height="1000">
  		</a>
  	</div>
	<div class="gallery">
  		<a target="_blank" href="{% static 'Shinta.jpg' %}">
    		<img src="{% static 'Shinta.jpg' %}" alt="Picture 2" width="1000" height="1000">
  		</a>
	</div>
	<div class="gallery">
  		<a target="_blank" href="{% static 'Shinta3.jpg' %}">
    		<img src="{% static 'Shinta3.jpg' %}" alt="Picture 3" width="1000" height="1000">
  		</a>
	</div>
	<div class="gallery">
  		<a target="_blank" href="{% static 'Shinta4.jpg' %}.jpg">
    		<img src="{% static 'Shinta4.jpg' %}" alt="Picture 4" width="1000" height="1500">
  		</a>
	</div>
	<div class="gallery">
  		<a target="_blank" href="{% static 'Shinta5.jpg' %}">
    		<img src="{% static 'Shinta5.jpg' %}" alt="Picture 5" width="1000" height="1000">
  		</a>
	</div>
	<div class="gallery">
  		<a target="_blank" href= "{% static 'Shinta7.jpg' %}.jpg">
    		<img src="{% static 'Shinta7.jpg' %}" alt="Picture 6" width="1000" height="1000">
  		</a>
	</div>


	
	
</body>
</html>