{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title> Shinta's Home </title>
	<style>
		body{
			background-image: url("{% static 'pic2.jpg' %}");
			height: 100%;
			width: 100%;
			margin: 0;
		}
		.text{
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
			background-color: #F5F5F5;
			padding: 1px;
		}
		h1{
			color : #DEB887	;
			font-size: 65px;
			text-shadow : 4px 3px 5px black;
		}
		p{
			color: black;
			font-size: 22px;
			margin-bottom: 5px;
		}
		ul{
			text-align: center;
			list-style-type: none;
			padding:0;
			margin-top: 0;
			top: 0;
			background-color: black;
			overflow: hidden;
			font-size: 24px;
			width: 100%;
		}
		li{
			float: left;
			border-right: 1px solid white;
		}
		li a{
			display: block;
			padding:12px;
			text-decoration: none;
			color: lightyellow;
		}
		a:hover {
			background-color: white;
			color :  #DEB887;
		}
	</style>
</head>
<body>
	<div class="text">
		<h1> Hello! I'm Shinta</h1>
		<p> Welcome to my website!</p>
	</div>

	<ul>
		<li><a href="/"> Home </a></li>
		<li><a href="/aboutme"> About Me</a></li>
		<li><a href="/gallery"> Gallery </a></li>
		<li style="float: right; border-right: none;
		border-left: 1px solid white; text-shadow: 
		3px 2px 3px #DEB887"><a href="/"> Shinta!</a></li>
	</ul>
		 
</body>
</html>

